<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://use.typekit.net/hfb8lhv.css">

<nav>
  <ul>
  <li><a href="/"><img src="/LogoMedipedia.png" alt="Logo Medipedia" max-width="200px"></a></li>
  </ul>
</nav>