{{> header}}

<ul id="categories">
 <li data="photography"><a href="/category/photography">Fotographie</a></li>
 <li data="layoutandtypography"><a href="/category/layoutandtypography">Layout & Typographie</a></li>
 <li data="informatics"><a href="/category/informatics">Informatik</a></li>
 <li data="film"><a href="/category/film">Filmographie</a></li>
 <li data="design"><a href="/category/design">Gestaltung</a></li>
 <li data="adobe"><a href="/category/adobe">Adobe</a></li>
</ul>

<a id="createpost" href="/newpost">Beitrag erstellen ➕</a>