<link rel="stylesheet" href="/form.css">
<link rel="stylesheet" href="https://use.typekit.net/hfb8lhv.css">

<div id="signup">
<form action="/createuser" method="POST">
  <h1>Willkommen auf MediPedia,<br>der Enzyklopädie für Mediamatiker.</h1>
  <h2>Registrieren</h2>
  <div>
    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" placeholder="Passwort">
  </div>
  <a href="/login">Bereits ein Konto? Anmelden</a>
  <input id="submit" type="submit" value="Konto erstellen">
</form>
</div>